{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": ["plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
  "ignorePatterns": ["node_modules/", "dist/", "jestCoverage/", "**/*.d.ts"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["@typescript-eslint", "prettier", "unused-imports"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": ["error"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "_*", "varsIgnorePattern": "_*" }],
    "@typescript-eslint/no-use-before-define": "error",
    "array-bracket-newline": ["error", "consistent"],
    "array-bracket-spacing": ["error", "never"],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "block-spacing": "error",
    "camelcase": "error",
    "capitalized-comments": ["error", "never", { "ignorePattern": "TODO|BUG" }],
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "complexity": ["warn", 20],
    "computed-property-spacing": ["error", "never"],
    "curly": ["error", "all"],
    "default-case": "error",
    "default-case-last": "error",
    "default-param-last": "error",
    "dot-location": ["error", "property"],
    "dot-notation": ["error"],
    "eol-last": ["error", "always"],
    "eqeqeq": ["error", "smart"],
    "for-direction": "error",
    "func-call-spacing": ["error", "never"],
    "init-declarations": ["error", "always"],
    "line-comment-position": ["error", { "position": "above" }],
    "lines-around-comment": ["error", { "beforeBlockComment": true }],
    "lines-between-class-members": "error",
    "max-classes-per-file": ["error", 1],
    "max-len": ["error", { "code": 160 }],
    "new-parens": "error",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 3 }],
    "no-alert": "error",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-compare-neg-zero": "error",
    "no-cond-assign": "error",
    "no-console": ["error", { "allow": ["error", "info", "trace", "warn"] }],
    "no-const-assign": "error",
    "no-constant-condition": "error",
    "no-constructor-return": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-dupe-args": "error",
    "no-dupe-else-if": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-empty-pattern": "error",
    "no-empty": ["error", { "allowEmptyCatch": false }],
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-func-assign": "error",
    "no-import-assign": "error",
    "no-inline-comments": "error",
    "no-inner-declarations": "error",
    "no-irregular-whitespace": ["error"],
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-lonely-if": "error",
    "no-multi-assign": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": "error",
    "no-negated-condition": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-tabs": "error",
    "no-template-curly-in-string": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef-init": "error",
    "no-unexpected-multiline": "error",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unreachable-loop": "error",
    "no-unused-expressions": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-void": "error",
    "no-whitespace-before-property": "error",
    "object-shorthand": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "import", "next": "*" },
      { "blankLine": "never", "prev": "*", "next": "import" },
      { "blankLine": "never", "prev": "import", "next": "import" },
      { "blankLine": "always", "prev": "*", "next": "export" },
      { "blankLine": "always", "prev": "export", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "block" },
      { "blankLine": "always", "prev": "block", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "function" },
      { "blankLine": "always", "prev": "function", "next": "*" },
      { "blankLine": "never", "prev": "*", "next": "case" },
      { "blankLine": "never", "prev": "*", "next": "default" },
      { "blankLine": "always", "prev": "*", "next": "multiline-block-like" },
      { "blankLine": "always", "prev": "*", "next": "multiline-expression" },
      { "blankLine": "always", "prev": "*", "next": "multiline-const" }
    ],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "prefer-spread": "error",
    "prefer-template": "error",
    "prettier/prettier": "error",
    "require-await": "error",
    "rest-spread-spacing": ["error", "never"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "semi-style": ["error", "last"],
    "sort-keys": ["error", "asc", { "natural": true }],
    "spaced-comment": ["error", "always"],
    "switch-colon-spacing": ["error", { "after": true, "before": false }],
    "unused-imports/no-unused-imports": "error",
    "use-isnan": "error",
    "yoda": "error"
  },
  "overrides": [
    {
      "files": ["*.spec.ts", "*.test.ts"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "init-declarations": "off"
      }
    },
    {
      "files": ["jest.config.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {}
    },
    "polyfills": ["fetch"]
  }
}
